form {
  width: 100%;
  padding: 35px;
}

form .input-container {
  height: 100%;
  width: 100%;
}

form .select-container {
  height: 100%;
  width: 100%;
}

form button {
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  padding: 14px 0;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 3px;
  cursor: pointer;
  margin: 25px 0;
  background: #00bcd4;
  transition: 0.2s ease;
}

form button:hover {
  background: #0097a7;
}

.input-label-container {
  text-align: left;
}

.err-message {
  color: red;
}

.error-container {
  width: 100%;
  height: 18px;
}

.error-container p {
  color: red;
}

.input-container .input {
  height: 50px;
  width: 100%;
  background: none;
  outline: none;
  font-size: 0.95rem;
  padding: 0 15px;
  border-radius: 3px;
  border: 1px solid #717171;
  transition: 0.2s ease;
}

.select-container select {
  height: 50px;
  width: 100%;
}

.textarea-container {
  width: 100%;
  text-align: left;
}

.textarea-container textarea {
  height: 200px;
  width: 100%;
}

.checkbox-container label {
  margin-right: 10px;
}

.input.error {
  border: 1px solid red;
}
