.reservations-title {
  color: white;
  margin-bottom: 40px;
  margin-top: 70px;
}

.reservation-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reservation-form-container {
  width: 640px;
  height: 700px;
  /* margin: 0 auto; */
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.reservation-form-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
